@{
    ViewData["Title"] = "Inicio";
}

<h1> BIENVENIDO A MARTA GAMES: AHORCADO </h1>
<h1 style="text-align: center; margin-top: 50px;">
    Para jugar presione <a href="@Url.Action("Jugar", "Home")">Aquí</a>.
</h1>
